// Bootstrap variables:
$primary: #F15A22;
$border-radius-lg: 1rem;

// Template variables:
$carousel-min-height: 300px;
$header-logo-width: 128;

:export {
  headerLogoWidth: $header-logo-width;
}

@import '@/overrides/styles.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index.scss';

